body {
    background-color: #151b21;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: white;
}

.container button {
    background-color: #ec96a9;
    font-family: 'Roboto', sans-serif;
    color: rgb(236, 236, 236);
    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
    padding: 1em 2em;
    font-size: 20px;
    transition: all 0.2s;
}

.container button:hover {
    background-color: #ec96a9;
    box-shadow: 0 0.7em 0.7em -0.4em #ff5c7f;
    transform: translateY(-0.25em);
    cursor: pointer;
}